@import url('bootstrap.css');
@import url('fonts.css');


/***********THE MAIN BODY**************/
.container-fluid{
    position: relative;
    font-family: 'Ibarra Real Nova', serif;
}
.jumbotron{
    opacity: 0.7;
}
/************TOP BAR*********************/

.firstlines{
    margin-top: 30px;
  }
  #l1{
    font-size: 50px;
    margin-top: 15px;
  }
  #l2{
    font-size: 50px;
    margin-top: 15px;
  }
  #l3{
    font-size: 25px;
    font-style: italic;
  }
 
/*************ROW 1 -- INTRO -- ******************/
#biopic{
   width:60%;
   height:60%;
}
.bioPic1{
    width: 200px;
    height: 400px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: black;
}

about{
    margin-top: 20px;
    padding-top: 40px;
    text-align: center;
}
.aboutbody{
    font-size:18px;
}
.name{
    font-size: 40px;
}

vision{
    text-align: center;
    font-style: italic;
    font-size: 17px;
    
}

/*************ROW 2 -- PROJECTS -- *******************/
h4{
    text-align: center;
  }
#projects{
    color: white;
    font-size: 30px;
    background-color: black;
    margin-top: 10px;
    padding: 15px;  
  }
  .projImage{
      height: 60% ;
      width: 60%;
  }
  .py{
      padding-top: 45px;
      padding-bottom: 10px;
  }
  #python{
      padding-top:40px;
  }
  .python{
      text-align: center;
  }
  #java{
      padding-bottom: 20px;
  }
  .javatitle{
      padding-top: 20px;
  }
  .java{
      text-align: center;
  }
  .col{
    text-align: center;
  }
  .project{
      font-size: 25px;
  }
  .pythondef{
      font-size:18px;
  }
  .javadef{
      font-size:18px;
  }
  .frontend{
      text-align: center;
  }
  .frontenddef{
      font-size:18px;
  }

/*************ROW 3 -- MACHINE LEARNING -- *******************/

h4{
    text-align: center;
    margin: 20px;
  }
  .col{
    text-align: center;
  }
machinelearning{
    font-size: 18px;
    margin-bottom: 15px;
}
#ml-fairness-bio2{
    text-align: center;
    list-style-position: inside;
}
.fairness{
    margin-bottom:10px;
    padding-bottom:20px;
}
.mlhead{
    color: white;
    font-size: 30px;
    background-color: black;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 10px;
    
}
.learning{
    padding: 15px;
    padding-top: 25px;
}
.fairness-head{
    color: white;
    font-size: 30px;
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    
}

/*************ROW 4 -- HANDS MOVEMENT -- *******************/
.hmpic1{
    padding:60px;
    margin: 10px;
    height: 80px;
}
.hmpic2{
    padding:60px;
    margin: 10px;
    height: 80px; 
}
.hmpic3{
    padding:60px;
    margin: 10px;
    height: 80px;   
}
.hmhead{
    color: white;
    font-size: 30px;
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    
}
a {
    text-decoration: none;
}
a :hover{
    opacity: 0.7;
    color: grey;
    text-decoration: none;
}
#hmbio{
    font-size: 18px;
}

.hmtext{
    font-size: 30px;
    font-style: italic;
    color: rgb(196, 19, 19);
}
.print1{
    background-color: black;
    
}
.print3{
    background-color:	 #eee;

}
.row handsmovement{
    height: 400px;
    width: 100%;
}

/*************ROW 5 -- YOUTUBE -- *******************/
img.portfolio{
    margin: 10px;
  }
#youtube{
    margin:10px;
    padding: 15px;
}
.ythead{
    color:black;
}
a .ythead{
    color:grey;
}

.ytparagraph{
    font-size: 18px;
    padding-bottom: 30px;
}
.portfolio img :hover{
    opacity: 0.7;
    color: grey;
}
.portfolio{
    display: inline-block;
    position: relative;
  }
.text{
    color: black;
}
/*************ROW 6 -- CONTACT -- *******************/
contact{
    padding:15px;
}
.cont-head{
    color: white;
    font-size: 30px;
    background-color: black;
    margin-top: 10px;
    padding: 15px; 
}
.social-media{
    margin-top: 20px;
    width:50%;
    height: 50%;
    padding: 15px;
    text-align: center;
  }
  .social-media :hover{
      opacity: 0.5;
      color: grey;
  }
  
  .bottom{
    text-align: center;
    font-size: 20px;
  }
  
